.popup__input {
  padding: 0;
  padding-bottom: 8px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.popup__input:last-of-type {
  margin-bottom: 45px;
}
