.profile__info {
  display: grid;
  grid-template-columns: max-content min-content;
  gap: 10px 18px;
  align-items: center;
}

@media screen and (max-width: 630px) {
  .profile__info {
    margin: 26px 15px 36px;
    gap: 6px 10px;
    align-items: center;
    justify-items: center;
  }
}
