.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
}

/* @media screen and (max-width: 630px) {
  .profile__info {
    margin: 26px 15px 36px;
    gap: 6px 10px;
    align-items: center;
    justify-items: center;
  }
} */
